<!DOCTYPE html>
<html>

<head>
  <title>Vladimir Kirilenko</title>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="stylesheet" type="text/css" href="styles/content.css">
  <link rel="stylesheet" type="text/css" href="styles/popup.css">
  <script src="lib/markdown.js"></script>
  <script src="scripts/main.js"></script>
  <script src="scripts/dynamic.js"></script>
</head>

<body>
  <div class="start-page">
    <section class="start-image">
      <div class="filter"></div>
    </section>
    <div class="icon"></div>
    <div class="hello">Hi, I’m Vova. I develop<br>
      computer vision systems & software.</div>
    <div class="pre-footer">
      <div class="learn-more" onclick="goToContent()">Learn more</div>
      <img class="see-more" src="images/see_more_arrow.svg" onclick="goToContent()">
    </div>
  </div>
  <script>
    generate();
  </script>
  <div id="projects-part" class="projects-part">
    <div class="section-title">Completed projects</div>
    <div class="tags-title">Select tags</div>
    <hr class="wrapper" />
    <div id="tags" class="tags">
      <tag-component v-for="tag in tags" :tag="tag" />
    </div>
    <div class="content-field" id='content-field'>
      <project-component v-for="project in projects" :project="project" />

    </div>


  </div>
  <script>
    render();
    // generateGitHubProjects();
  </script>
</body>

</html>