.gallery {
  /* border: 1px solid rgb(71, 71, 71); */
  width: 100%-0;
  height: 415px;
  margin-left: -8px;
  margin-right: -8px;
}

.gallery .item {
  background-color: rgb(40, 40, 40);
  /* margin-left: -5px; */
  margin-left: 20px;
  margin-top: 10px;
  width: 200px;
  height: 250px;
}

.item .image {
  width: 200px;
  height: 200px;
}

.item p {
  position: relative;
  text-align: center;
  bottom: 12%;
  color: rgb(167, 167, 167);
  font-family: 'Roboto';
  font-size: 20px;
}

.item .wrapper {
  position: relative;
  bottom: 8.5%;
}

.w3-center {
  background-color: rgb(40, 40, 40);
  height: 170%;
}

.w3-center .name{
  margin-top: -7px;
  font-weight: bold;
  font-size: 24px;
  color: rgb(167, 167, 167);
}

.w3-center .task, .methods, .results {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  font-size: 20px;
  border: 2px solid rgb(51, 51, 51);;
  color: rgb(167, 167, 167);
}

.methods li{
  text-align: left;
}
