.completed {
  position: relative;
  display: block;
  text-align: center;
  color: #707070;
  font-family: tahoma;
  font-size: 40px;
  font-weight: relative;
  padding-top: 20px;
}

.pre-tags {
  opacity: .72;
  position: relative;
  display: block;
  text-align: left;
  color: #707070;
  font-family: tahoma;
  font-size: 30px;
  font-weight: normal;
  padding-top: 60px;
}

.tags {
  width: 50vw;
  height: 10vh;
  padding-top: 30px;
  padding-right: 100px;
}

.tags .tag {
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  border: 2px solid #707070;
  text-decoration: none;
}

.tags .tag a {
  color: #707070;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-field {
  border: 1px solid #707070;
  width: calc(100vw - 104px - 30px);
  height: calc(100vh - 300px - 40px);
  overflow-y: scroll;
}