.main {
  margin-left: -1vh;
  margin-top: -1vh;
  width: 100vw;
  height: 100vh;
  background: url("https://i.imgur.com/skUmRCx.jpg") no-repeat 50% 50%;
  filter: blur(1px);
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  position: absolute;
  z-index: -9;
}

.main-filter {
  margin-left: -1vh;
  margin-top: -1vh;
  width: 100vw;
  height: 100vh;
  background: #958BE6;
  opacity: 0.48;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  position: absolute;
  z-index: -8;
}

.main-text a {
  position: relative;
  color: white;
  font-family: tahoma;
  font-size: 50px;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25vh;
  text-align: center;
}

.icon {
  position: relative;
  width: 125.77px;
  height: 108.92px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 46px;
}

.see-more {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
}

.see-more-text {
  color: white;
  font-family: tahoma;
  font-size: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30vh;
  text-align: center;
}

.content {
  height: 99vh;
  margin-top: 6vh;
  padding-left: 104px;
}