body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

hr {
  border: none;
  height: 1px;
  color: #494B4A;
  background-color: #494B4A;
}

.start-page {
  position: relative;
}

.start-image {
  position: absolute;
  display: block;
  height: 100vh;
  width: 100%;
  background: url('../images/back.png') no-repeat center center;
}

.filter {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-color: #958BE6;
  opacity: .48;
}

.icon, .hello, .learn-more, .see-more {
  position: absolute;
  left: 50%;
  margin: 0;
  transform: translate(-50%, 0);
  position: relative;
  overflow: hidden;
}

.icon {
  background-size: cover;
  background: url('../images/icon.svg') no-repeat center center;
  background-size: 10vw;
  width: 10vw;
  height: 10vw;
}

.hello {
  color: white;
  top: 24vh;
  font-family: tahoma;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.learn-more {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  transform: translate(-50%, 53.6vh) scale(.6);
}

.see-more {
  background-image: url("../images/see_more_arrow.svg");
  transform: translate(-50%, 54vh) scale(.7);
}